
<h2> Your Cart </h2> 
<% @cart.each do |product, val|%>
  
  <h3><%= product.name %></h3>
  <%= image_tag product.img_url, alt: product.description %>
  <h5><%= product.description %></h4>
  <h6><%= product.price %></h6>
  <p> Quantity: <%= val %> </p>
  <%= link_to 'Delete', remove_from_cart_path%>
  <%= link_to "Edit", product_path(product.id) %>
<% end %>

<div> 
  <%= link_to "Check Out", new_order_path %>
</div> 
