<h2> <%= "#{@current_merchant.username.upcase}"%> Dashboard </h2>

<p>Joined site <%= @current_merchant.created_at.strftime("%B %e, %Y") %></p>

<h3> Your Products </h3>
<%= link_to "ADD NEW PRODUCT", new_product_path, class: "nav-link" %>

<% @current_merchant.products.each do |product| %>
  <section class="product_square">

    <%= image_tag product.img_url, alt: product.description %>
    <h4><%= link_to product.name.upcase, product_path(product.id) %></h4>
    <h5><%= product.description %></h5>
    <h6>$<%= sprintf('%.2f', product.price) %></h6>
    <h6><%= link_to "EDIT PRODUCT", edit_product_path(product.id) %></h6>
  </section>
<% end %>

<h3> Your Revenue Report </h3>

<h4> Total Revenue: </h4>

<h4> Total Revenue (paid orders): </h4>

<h4> Total Revenue (complete orders): </h4>

<h3> Your Orders </h3>

<h4> Paid Orders: </h4>

<h4> Completed Orders: </h4>