<section class="all-merch-products">
  <div class='merch-products-header'>
    <h1 > <%= "#{@current_merchant.username.upcase}"%> Dashboard </h1>
    <p>Joined site on <%= @current_merchant.created_at.strftime("%B %e, %Y") %></p>
    <%= link_to "ADD NEW PRODUCT", new_product_path, class: "nav-link" %>
    <br>
    <h1> Your Products </h1>
  </div>

  <div class='merch-product-index'>
    <% @current_merchant.products.each do |product| %>
      <section class="merch-product_square">
        <%= image_tag product.img_url, alt: product.description %>
        <h4><%= link_to product.name.upcase, product_path(product.id) %></h4>
        <h6>$<%= sprintf('%.2f', product.price) %></h6>
        <h6><%= link_to "EDIT PRODUCT", edit_product_path(product.id) %></h6>
        <h6><%= link_to "DELETE PRODUCT", product_path(product.id), method: :delete %></h6>
      </section>
    <% end %>
  </div>


</section>

<section>
<h1> Your Revenue Report </h1>

<h4> Total Revenue (paid orders): $<%=number_with_delimiter(@paid_orders_revenue, :delimiter => ',')%></h4>

<h4> Total Revenue (complete orders): $<%=number_with_delimiter(@completed_orders_revenue, :delimiter => ',')%></h4>

<h4> Total Revenue: $<%=number_with_delimiter(@total_revenue, :delimiter => ',')%></h4>
</section>

<section >
<h1>Your Orders</h1>

<nav aria-label="...">
  <ul class="pagination pagination-lg">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">All</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">Paid</a></li>
    <li class="page-item"><a class="page-link" href="#">Completed</a></li>
  </ul>
</nav>

<% if @all_orders.length == 0 %>
<h2>No orders yet!</h2>
<% else %>
<h2><%=@all_orders.length%> total</h2>
<%@all_orders.each do |order|%>
<h3> <%= link_to "Order #{order.id}.", order_path(order.id) %> Status: <%= order.status %> Total Earned: <%= @current_merchant.earnings_per_order(order) %> </h3> 
<h5>Placed On: <%= order.created_at%></h5>
<% my_order_items = @current_merchant.find_my_order_items(order)%> 
<table class="table">
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Quantity Ordered</th>
      <th>Subtotal</th>
      <th>Shipment Status</th>
    </tr>
  </thead>
  <tbody>
    <% my_order_items.each do |item| %>
      <tr>
        <td><%= link_to item.product.name, product_path(item.product.id) %></td>
        <td><%= item.qty %></td>
        <td>$<%= (item.product.price * item.qty).round(2) %></td>
        <td><%= order.status == "complete" ? "Shipped" : "Not Shipped" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>
<% end %>

<% if @paid_orders.length == 0 %>
<h2>No paid orders yet!</h2>
<% else %>
<h2><%=@paid_orders.length%> total</h2>
<%@paid_orders.each do |order|%>
<h3> <%= link_to "Order #{order.id}.", order_path(order.id) %> Status: <%= order.status %> Total Earned: <%= @current_merchant.earnings_per_order(order) %> </h3> 
<h5>Placed On: <%= order.created_at%></h5>
<% my_order_items = @current_merchant.find_my_order_items(order)%> 
<table class="table">
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Quantity Ordered</th>
      <th>Subtotal</th>
      <th>Shipment Status</th>
    </tr>
  </thead>
  <tbody>
    <% my_order_items.each do |item| %>
      <tr>
        <td><%= link_to item.product.name, product_path(item.product.id) %></td>
        <td><%= item.qty %></td>
        <td>$<%= (item.product.price * item.qty).round(2) %></td>
        <td><%= order.status == "complete" ? "Shipped" : "Not Shipped" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>
<% end %>

<% if @completed_orders.length == 0 %>
<h2>No completed orders yet!</h2>
<% else %>
<h2><%=@completed_orders.length%> total</h2>
<%@completed_orders.each do |order|%>
<h3> <%= link_to "Order #{order.id}.", order_path(order.id) %> Status: <%= order.status %> Total Earned: <%= @current_merchant.earnings_per_order(order) %> </h3> 
<% my_order_items = @current_merchant.find_my_order_items(order)%> 
<table class="table">
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Quantity Ordered</th>
      <th>Shipment Status</th>
    </tr>
  </thead>
  <tbody>
    <% my_order_items.each do |item| %>
      <tr>
        <td><%= link_to item.product.name, product_path(item.product.id) %></td>
        <td><%= item.qty %></td>
        <td><%= order.status == "complete" ? "Shipped" : "Not Shipped" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>
<% end %>
</section>