<h2><%= list_name %></h2>
<% variable.each do |product| %>
  <section class="product_square">

    <h4><%= product.name %></h4>
    <img src=<%=product.img_url%>  alt= <%=product.description%> >
    <h5><%= product.description %></h4>
    <h5><%= product.price %></h4>
    
  </section>
<% end %>
