<div class="show-header">
  <h3><%= @product.name %></h3>
  <%= image_tag @product.img_url, alt: @product.description %>
  <h5><%= @product.description %></h5>
  <h5><%= "$#{'%.2f' % @product.price}" %></h5>
</div>

<div class="show-content">
  <section class='reviews'>
    <h3>Review & Rating</h3>
    <h5>Average Rating: <%= @product.average_rating %> out of <%= @reviews.length %> Reviews </h5>
    <%= render partial: "reviews/rating", locals: { action_name: "Submit Review", product: @product } %>
    <% if @reviews.length != 0 %>
      <ul class="review-list">
        <% @reviews.each do |review| %>
          <li>
            <strong>
              <%= format_datetime(review.created_at) %> - Rating: <%= review.rating %>
            </strong>
          </li>
          <ul class="review-item"><li><%= review.description %></li></ul>
        <% end %>
      </ul>
    <% end %>
  </section>

  <section>
    <h3> Left in Stock: <%= @product.qty %> </h3> 
    <%if !session[:order_items].nil? %>
      <% current_in_cart = OrderItem.current_edit(@product.id, session[:order_items]) %>
    <% else %>
      <%current_in_cart = " " %>
    <% end %>
    <h6> Current Quantity in Cart: <%= current_in_cart%></h6>
    <div>
        <%= form_with scope: :post, url: add_to_cart_path do |f| %>
          <div class="form-group-product"> 
            <%= f.label "Quantity:"%>
            <%= f.text_field :qty, placeholder: current_in_cart %>
          </div>
          <% if current_in_cart.to_i > 0 %>
            <%= f.submit "Update Cart", class:'button-style' %>
          <% else%>
            <%= f.submit "Add to Cart", class:'button-style' %>
          <% end %>
        <% end %>
    </div> 
  </section>
<div>   
